body {
    margin: 0;
    background-color: #282c35;
    font-family: 'Open Sans', sans-serif;
}

#chart-container {
    width: 0px;
    height: 0px;
    border: 0px;
    margin-top: 50px auto;
    padding: 50px;
}

.value {
    fill: #fff;
}

text {      
    font-size: 12px;
    fill: #8e98a2;
}

path {
    stroke: #444a58;
}

line {
    stroke: #444a58;
}

rect {
    cursor: pointer;
    fill: #4fc1f7;
    border-radius: 10px;
}

